{% extends 'dashboard/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'forum_details.css' %}">
{% endblock %}

{% block content %}
<div class="forum-detail-container">

    <div class="forum-header-box">
        <h2>{{ foro.titulo }}</h2>
        <p class="text-light">{{ foro.descripcion }}</p>
    </div>

    <div class="forum-content-section">
        {% for pub in publicaciones %}
           {% endfor %}
    </div>

    <div class="reply-form-wrapper">
        <h5 class="text-white mb-3">✍️ Escribir respuesta</h5>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="contenido" required></textarea>
            <input type="file" name="imagen" class="text-white mt-2">
            <button type="submit" class="btn-submit-reply mt-3">Enviar Respuesta</button>
        </form>
    </div>

</div>
{% endblock %}